* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "Montserrat", serif !important;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

button a {
    text-decoration: none;
    color: #fff;
}

button a:hover {
    text-decoration: underline;
    color: #fff;
}

/* ===== Scrollbar CSS ===== */
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: #F8861A;
    border-radius: 2px;
}

*::-moz-scrollbar-thumb {
    background-color: #F8861A;
    border-radius: 2px;
}

/* Highlight Text */
::-moz-selection {
    /* Code for Firefox */
    color: #fff;
    background: #000;
}


::selection {
    color: #fff;
    background: #000;
}

/*********Header Nav*********/
header nav {
    background-color: #fff;
    margin-top: 50px;
    padding: 05px 10px 05px 10px !important;
    font-family: "Sora", serif;
}

.bg-dark p {
    font-size: 14px;
    font-weight: 400;
}

.All {
    padding: 0 250px;
}

.navbar-onscroll {
    transition: 0.8s;
    padding: 10px !important;
    box-shadow: 0px 5px 20px #a1a1a11c, 0px 0px 20px #00000015;
}

header nav .navbar-brand img {
    width: 200px;
}

header nav .navbar-nav {
    margin-top: 10px;
}

header nav .navbar-nav .nav-item {
    font-size: 14px;
    letter-spacing: 0.5px;
}

header nav .navbar-nav .nav-item .active {
    color: #F8861A !important;
    border-top: 1px solid #F8861A;
}

header nav .navbar-nav .nav-item .nav-link {
    color: #000;
    font-weight: 400;
    padding: 15px 25px;
}

header nav .navbar-nav .nav-item .nav-link:hover {
    color: #F8861A;
    border-bottom: 1px solid #F8861A;
}

.btn-area .bi:hover {
    color: #714091;
}

.btn-area .bi {
    color: #fff;
}

@media (max-width: 1400px) {
    header nav .navbar-brand img {
        width: 150px;
    }

    header nav .navbar-nav .nav-item .nav-link {
        color: #000;
        font-weight: 400;
        padding: 15px 15px !important;
    }


}

@media (max-width: 1199px) {

    .bg-dark {
        display: none;
    }

    header nav {
        background-color: #fff;
        margin-top: 1px !important;
        padding: 5px 10px 0px 10px !important;
    }
}

/********Nav Login Auth********/
header nav .login-div {
    margin-top: 18px;
    margin-right: 30px;
}

header nav .login-div i {
    padding: 10px 40px;
    border-left: 1px solid #C9C9C9;
    font-size: 14px;
}

header nav .login-div .btn-signup {
    font-size: 13px;
    background: linear-gradient(to top, #F8861A 0%, #FEC31C 100%);
    ;
    letter-spacing: 0.3px;
    padding: 10px 25px;
    font-weight: 400;
    text-decoration: none;
    margin-right: 5px;
    border-radius: 5px;
    transition: 0.5s;
    color: #fff;
}

header nav .login-div .btn-login {
    color: #ffffff;
}

header nav .login-div .btn-signup i {
    padding-left: 5px;
}

/********Nav Toggler********/
header nav .navbar-toggler {
    border: 1px solid #FEC31C !important;
}

header nav .navbar-toggler i {
    color: #FEC31C;
}

header nav .navbar-toggler:focus,
header nav .navbar-toggler:active {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

/********Nav Mobile Offcanvas********/
header nav .offcanvas {
    width: 340px;
}

header nav .offcanvas-header {
    text-align: right;
    padding: 10px 1px 1px 1px !important;
    margin-bottom: -20px;
}

header nav .offcanvas-header button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    margin-left: 20px;
    margin-bottom: 20px;
}

header nav .offcanvas-header button i {
    font-size: 25px;
    color: #000
}

@media(max-width: 1199px) {
    header nav .login-div {
        margin-right: 0px;
        margin-top: 0px;
    }

    header nav .navbar-nav .nav-item .nav-link {
        font-size: 16px;
        padding: 10px 15px;
    }

    header nav .login-div .btn-login,
    nav .login-div .btn-signup {
        font-size: 16px;
        padding: 10px 10px;
    }

    header nav .icon-hambuger {
        margin-top: 15px;
    }

    header nav .icon-hambuger a {
        font-size: 22px;
    }

    header nav .dropdown-footer {
        top: 50px;
    }

    header nav .navbar-nav .nav-item .nav-link {
        color: #fff;
        font-weight: 600;
        padding: px;
    }

    header nav .login-div .btn-login {
        color: #fff;
    }
}

@media(max-width: 991px) {
    header nav .icon-hambuger {
        display: none;
    }

    .login-div i {
        display: none;
    }

    header nav .login-div {
        margin-left: 5px;
        margin-top: 20px;
    }

    header nav .login-div a {
        display: block;
        margin-top: 5px;
    }

    header nav .navbar-nav {
        margin-top: -5px;
    }

    header nav .desktop-dropdown {
        display: none !important;
        visibility: hidden !important;
    }

    header nav .dropdown:hover .dropdown-menu {
        display: block !important;
        visibility: visible !important;
    }

    header nav .navbar-toggler {
        margin-top: 10px;
    }

    header nav .navbar-nav .nav-item .nav-link {
        color: #000 !important;
        font-weight: 400;
    }

    header nav .navbar-nav .nav-item .nav-link:hover {
        color: #000;
        font-weight: 500;
        padding: px;
    }

    header nav .login-div .btn-login {
        color: #000;
        font-weight: 400;
    }

    header nav {
        background-color: #fff;
        margin-bottom: -101px !important;
        padding: 5px 10px 05px 10px !important;
    }


}

/* Welcome Banner */


/* Welcome Screen */
.welcome-screen {
    margin-top: 100px;
}

.welcome-screen .banner-one {
    background-image: url('https://res.cloudinary.com/ddj0k8gdw/image/upload/v1736873828/Energy/p_1_fch0xz.jpg');

}

.welcome-screen .banner-two {
    background-image: url('https://res.cloudinary.com/ddj0k8gdw/image/upload/v1736873832/Energy/o_1_vllvrl.jpg');
}

.welcome-screen .banner-three {
    background-image: url('https://res.cloudinary.com/ddj0k8gdw/image/upload/v1736874129/Energy/i_smqbvk.jpg');

}

.welcome-screen .carousel-item {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding: 150px 10px 200px 10px;
    color: #fff;

}

.welcome-screen .carousel-item .banner-note {
    width: 53%;
    padding: 0 0 0 180px;

}

.welcome-screen .carousel-item .banner-note h1 {
    font-size: 3.5rem;
    font-weight: 100;
    padding-top: 10px;
    line-height: 1.5;
    padding-bottom: 10px;
}

.welcome-screen .carousel-item .banner-note h1 span {

    font-weight: 500;
    color: #FEC31C;
}

.welcome-screen .carousel-item .banner-note h5 {
    font-weight: 300;
    font-size: 22px;
}

.welcome-screen .carousel-item .banner-note p {
    font-size: 17px;
    line-height: 2;
    font-weight: 400;
}

.welcome-screen .banner-note .btn-div {
    margin-top: 45px;
}

.welcome-screen .banner-note .btn-div .btn-contact,
.welcome-screen .banner-note .btn-div .btn-read {
    padding: 15px 35px;
    border-radius: 50px;
    margin: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
}

.welcome-screen .banner-note .btn-div .btn-contact {
    border: 1px solid #fff;
}

.welcome-screen .banner-note .btn-div .btn-read {
    background-color: #F8861A;

}

.welcome-screen .banner-note .btn-div .btn-contact:hover,
.welcome-screen .banner-note .btn-div .btn-read:hover {
    background-color: #fff;
    color: #000;
    font-size: 14px;
    font-weight: 300;
    border: 1px solid #fff;
}

.icon-group {
    position: absolute;
    bottom: 90px;
    left: 15%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    font-size: 1.5rem;
}

.icon-group span {
    cursor: pointer;
    opacity: 0.5;
}

.icon-group .active {
    opacity: 1;
    color: #f39c12;
    /* Highlight color for active */
}

@media (max-width: 991px) {
    .welcome-screen .carousel-item .banner-note {
        width: 100% !important;
        padding: 0 10px 0 50px !important;
    }

    .welcome-screen {
        margin-top: 01px !important;
    }

    .welcome-screen .carousel-item {
        padding: 150px 0px 100px 0px !important;
        color: #fff;
    }
}

@media (max-width: 1400px) {
    .welcome-screen .carousel-item .banner-note {
        width: 65%;
        padding: 0 0 0 130px;
    }

    .welcome-screen .carousel-item {
        padding: 100px 0px 130px 0px;
        color: #fff;
    }

    .icon-group {
        position: absolute;
        bottom: 30px;
        left: 15%;
        transform: translateX(-50%);
        display: flex;
        gap: 10px;
        font-size: 1.5rem;
    }
}

@media (max-width: 540px) {
    .welcome-screen .carousel-item .banner-note {
        width: 80%;
    }

    .welcome-screen .carousel-item {
        padding: 100px 10px 100px 10px;
    }

    .welcome-screen .carousel-item .banner-note h1 {
        font-size: 2.5rem;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .welcome-screen .carousel-item .banner-note h5 {
        font-size: 18px;
    }

    .welcome-screen .carousel-item .banner-note p {
        font-size: 16px;
    }

    .welcome-screen .banner-note .btn-div .btn-contact,
    .welcome-screen .banner-note .btn-div .btn-read {
        padding: 10px 15px;
        font-size: 14px;
    }

    .icon-group {
        display: none;
    }

    .btn-contact {
        display: none;
    }
}

/* Benefit */
.Benefit {
    padding: 80px 0px;
    font-family: "Montserrat", serif;
}

.Benefit .Txt {
    background-image: url('https://res.cloudinary.com/ddj0k8gdw/image/upload/v1736881066/Energy/l_skskly.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.Benefit .Txt .Just {
    font-size: 25px;
    font-weight: 400 !important;
    line-height: 1.5;
}

.Benefit .Txt .highlight {
    font-size: 20px;
    color: #F8861A;
    font-weight: 500;
    padding: 0 0 0px 100px;
}

.Benefit .E {
    font-size: 15px;
    line-height: 2;

}

.Benefit button {
    background: linear-gradient(to top, #F8861A 0%, #FEC31C 100%);
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.Benefit .card {
    border: none;
}

.Benefit .fw-bold {
    font-weight: 600 !important;
    font-size: 18px;
    line-height: 2;
}

.icon {
    margin-top: -50px;
    display: inline-block;
}

.iconing img {
    width: 50px;
    height: auto;
    margin: 30px 20px 0px 20px;
}

.icon img {
    width: 100px;
    height: auto;
}

.Benefit ul li {
    font-size: 14px;
    line-height: 30px;
}

.Benefit ul {
    height: 100px;
}

.card {
    border: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width:1400px) {
    .Benefit .Txt .highlight {
        font-size: 20px;
        color: #F8861A;
        font-weight: 500;
        padding: 0 0 0px 50px;
    }

    .Benefit ul {
        height: 170px;
    }

    .faqPage {
        padding: 50px 0px;
    }

    .Justt {
        padding: 80px 20px 50px 20px !important;
    }
}

@media (max-width:770px) {
    .Benefit ul {
        height: auto;
    }

    .Benefit .card {
        margin-bottom: 80px;
    }

    .Benefit {
        padding: 80px 0px 30px 0;
    }

    .King {

        float: right;
        padding: 0 0 0 30px !important;
        top: -200px;
        width: 70% !important;
        clear: both;
        margin-bottom: -200px;
    }

    .right-image {
        width: 100%;
        position: relative;
        height: 400px !important;
        object-fit: cover;
        /* top: 0;
       left: 20px; */
    }
}

/* FAQs */

.faqPage {
    width: 100%;
    padding: 50px 0 0 0;
    font-family: "Montserrat", serif;

}


.faqPage h1 {
    font-size: 25px;
    color: #000;
}

.faqPage p {
    font-size: 14px;
    color: #000;
    line-height: 2;
    padding: 10px 0 40px 0px
}

.faqPage summary {
    font-size: 15px;
    background-color: #f7f7f7;
    box-shadow: 0 0 20px -10px #c8c8c873;
    color: #1e1e1e;
    padding: 20px;
    margin-bottom: 20px;
    outline: none;
    border-radius: 5px;
    text-align: left;
    cursor: pointer;
    position: relative
}

.faqPage .faq-content {
    padding: 25px 15px 15px;
    margin-top: -16px;
    color: #1e1e1e;
    margin-bottom: 10px;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 20px -10px #c8c8c873;
    font-size: 14px;
    line-height: 1.8
}

.faqPage details>summary:after {
    position: absolute;
    content: "+";
    right: 20px;
    color: #000;
}

.faqPage details[open]>summary {
    background: linear-gradient(to top, #F8861A 0%, #FEC31C 100%);
    border-radius: 5px 5px 0 0;
    color: #fff;
}

.faqPage details[open]>summary:after {
    position: absolute;
    content: "-";
    right: 20px;
    color: #fff;
}

.faqPage details>.faq-section summary::-webkit-details-marker {
    display: none
}

.faqPage img {
    width: 90%;
    display: block;
    margin: auto;
}

/* Providing */

.custom-section {
    background-color: #4A4A4A;
    color: white;
    /* padding: 50px 0; */
}

.quote-text {
    font-size: 20px !important;
    font-weight: 600;
    font-family: "Montserrat", serif;
    background-image: url('https://res.cloudinary.com/ddj0k8gdw/image/upload/v1736930639/Energy/Group_bb1iir.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.main-heading {
    margin-top: -10px;
    font-size: 40px;
    font-weight: 500;
    font-family: "Montserrat", serif;
    padding: 0 0 10px 0;
}

.custom-section p {
    line-height: 2;
    font-size: 15px;
    font-family: "Montserrat", serif;
    font-weight: 400 !important;
    padding: 0 0 30px 0;
}

.icon-text {
    text-align: left;
}

.icon-text p {
    line-height: 2;
    font-size: 17px;
    font-family: "Montserrat", serif;
    font-weight: 500 !important;
}

.icon-text img {
    width: 50px;
    height: auto;
}

.King {
    background: #4A4A4A;
    position: relative;
    float: right;
    padding: 0 0 0 50px;
    top: -200px;
    width: 50%;
    clear: both;
    margin-bottom: -200px;

}

.King h1 {
    font-size: 35px;
    font-family: "Montserrat", serif;
    font-weight: 600;
    color: #fff;
    padding: 50px 0 0px 0;
}

.King p {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.right-image {
    width: 100%;
    position: relative;
    height: 650px;
    object-fit: cover;
    /* top: 0;
   left: 20px; */
}

/*  */

.accordion-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 550px;
}

.section-heading {

    font-size: 2rem;
    text-align: right;
    font-style: normal;
    color: #000;
}

.solutions-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #F8861A;
}

.solutions-section .Line {
    height: 3px;
    width: 50px;
    background-color: #F8861A;
}

.solutions-section {
    background-color: #F9F9F9;
    padding: 80px 0px;
    font-family: "Montserrat", serif;
}

@media (max-width:768px) {
    .solutions-section {
        display: none;
    }

    .trusted-partners img {
        max-width: 150px;
        margin: 20px !important;
        opacity: 0.8;
        transition: opacity 0.3s ease;
    }

    .trusted-partners {
        padding: 50px 0 !important;
        font-family: "Montserrat", serif;
    }

    .spotlight-bg {
        padding: 50px 15px 50px 15px !important;
        margin-bottom: 0px !important;
    }

    .energy-calculator-section {
        background-color: #fff;
        padding: 50px 0px !important;
        font-family: "Montserrat", serif;
    }

    .img-fluid {
        margin-top: 50px !important;
    }
}

.accordion-item {
    flex: 1;
    overflow: hidden;
    position: relative;
    transition: flex 0.3s ease;
    border-radius: 10px;
}

.accordion-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: transform 0.3s ease;
}

.accordion-item:hover {
    flex: 2;
    border-radius: 10px;
}

.accordion-item:hover img {
    transform: scale(1.1);
}

.accordion-content {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.081);
    color: white;
    padding: 30px 25px;
    text-align: left;
    width: 100%;
    font-family: "Montserrat", serif;
}

.accordion-content h5 {
    margin: 0;
    font-size: 1.25rem;
}

.accordion-content img {
    width: 40px;
    padding: 0 0 20px 0;
}

.accordion-content p {
    padding: 15px 0 0px 0;
    font-size: 0.9rem;
}

.accordion-content a {
    color: #f4c10f;
    font-size: 0.9rem;
    text-decoration: underline;
}

.accordion-content a:hover {
    text-decoration: underline;
}

/* Trusted Partners Section */
.trusted-partners {
    background-color: #fff;
    text-align: center;
    padding: 80px 0;
    font-family: "Montserrat", serif;
}

.trusted-partners h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 50px;
}

.trusted-partners img {
    max-width: 150px;
    margin: 0 50px;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.trusted-partners img:hover {
    opacity: 1;
}

/* Spotlight Section */
.spotlight-bg {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    font-family: "Montserrat", serif;
    padding: 80px 50px 50px 50px;
    margin-bottom: 50px;
}

.spotlight-section {
    padding: 50px 0px;
}


.spotlight-background {
    background:
        url('https://res.cloudinary.com/ddj0k8gdw/image/upload/v1737282133/Energy/Frame_1618873242_ggv40z.jpg') no-repeat center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 15px;
}

/* Content Overlay */
.position-relative {
    z-index: 2;
}

.text-white h2 {
    font-size: 2rem;
    font-weight: 400 !important;
    line-height: 2;
}

.spotlight-section h4 {
    font-size: 1.2rem;
    font-weight: 600 !important;
}

.bg-white p {
    font-size: 0.9rem;
    line-height: 2;
}


.bg-warning {
    background: linear-gradient(to top, #F8861A 0%, #FEC31C 100%) !important;

}

.bg-warning p {
    font-size: 0.9rem;
    line-height: 2;
}

.btn-warning {
    border-radius: 5px;
}

/* Energy Calculator Section */
.energy-calculator-section {
    background-color: #fff;
    padding: 80px 0px;
    font-family: "Montserrat", serif;
}

.calculator-form {
    background: linear-gradient(135deg, #F8861A, #FEC31C);
    border-radius: 15px;
    color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.calculator-form h3 {
    font-size: 1.5rem;
    line-height: 2;
}

.calculator-form .form-label {
    font-size: 0.9rem;
}

.input-group-text {
    background-color: #FEC31C !important;
    color: #000;
    border: none;
    padding: 18px 20px !important;
    border-radius: 5px 0 0 5px;
    border: none !important;
}

input:focus,
button:focus,
select:focus,
textarea:focus {
    outline: none !important;
    box-shadow: none !important;
    /* Optional: Remove default focus shadow */
}

.input-group .form-control {
    border: none;
    background-color: #DEDEDE !important;
    padding: 18px 20px;
    border-radius: 0 5px 5px 0;
}

.form-select {
    border: none;
    background-color: #DEDEDE !important;
    padding: 18px 20px !important;
    border-radius: 0 5px 5px 0;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    padding: 18px 20px !important;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 400 !important;
    text-transform: capitalize;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.img-fluid {
    border-radius: 10px;
    width: 85%;
    display: block;
    margin: auto;
}

@media (max-width: 768px) {
    .calculator-form {
        text-align: center;
    }

    .calculator-form h3,
    .calculator-form p {
        text-align: center;
    }

    .Amen {
        margin-top: -150px !important;
        text-align: center !important;
    }

    .search-bar {
        margin-top: 30px !important;
    }

}

/*  */

.insights-section {
    padding: 80px 0 150px 0;
    background-color: #F9F9F9;
    font-family: "Montserrat", serif;
}

.insights-section h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 50px;
}

.insights-section .card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 10px 10px !important;
}

.insights-section .card-body {
    padding: 35px 20px !important;
}

.insights-section .card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.insights-section .card-title {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 2;
}

.insights-section .card-text {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 2;
}

.insights-section .btn {
    color: #ffa500;
    font-weight: 400;
    font-size: 0.9rem;
    text-decoration: none;
}

.insights-section .btn:hover {
    text-decoration: underline;
}

/* Newsltter */
.Newsletter {
    font-family: "Montserrat", serif;
    width: 100%;
    z-index: 10;
}

.Amen {
    background-color: #565052;
    padding: 50px 50px 50px 50px !important;
    border-radius: 10px;
    width: 100%;
    line-height: 1.5;
    z-index: 10;
    margin-top: -150px;
}

.Amen p {
    font-size: 20px;
    color: #fff;
}

.Amen h1 {
    font-size: 2.1rem;
    font-weight: 600;
    color: #fff;
}

.search-bar {
    margin-top: 30px;
}

.search-bar .input-group>.form-control,
.input-group>.form-select {
    position: relative;
    flex: 1 1 auto;
    width: 0.5%;
    min-width: 0;
}

.search-bar .input-group>.form-control,
.input-group>.form-select:focus {
    outline: 0px !important;
    box-shadow: none !important;
    border: none !important;
}

.search-bar .input-group>.form-control::placeholder {
    font-size: 13px;
}

.search-bar .input-group-text {
    display: flex;
    align-items: center;
    padding: 15px 20px 15px 20px !important;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.5;
    color: #FFF;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    border: none;
    background-color: #ffa500 !important;
    border-radius: 0.25rem;
}

.search-bar .form-control {
    display: block;
    width: 10%;
    padding: 20px 30px 20px 30px;
    font-size: 1rem;
    border-radius: 10px 0px 10px 10px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    border: none;
}

/**Footer**/
.footer {
    padding: 50px 0px 0px 0px;
    background-color: #000;
    font-family: "Montserrat", serif;
}

.footer .kit-font img {
    width: 50%;
    display: inline-block;
    margin: auto;
}

.footer .quick {
    padding: 60px 0 0 0;
    color: #fff !important;
}

.footer .quick a {
    text-decoration: none;
    color: #fff;
}

.footer .kit-font p {
    padding: 10px 0 0 0;
    color: #fff;
    font-size: 13px;
    text-align: left;
}

.footer .quick h1 {
    font-size: 15px;
    margin-top: 0;
    padding: 0 0 15px 0;
    margin-bottom: 0;
    font-weight: 700;
}

.footer .quick ul li img {
    width: 25px;
    margin: 0px 7px;
}

.force img {
    width: 200px !important;
}

.footer .quick ul li {
    list-style: none;
    color: #fff;
    line-height: 1.8;
    font-size: 13px;
    font-size: 20px;
    margin-top: 0;
    padding: 0 0 20px 0;
    margin-bottom: 0;
}

.footer .quick ul li {
    list-style: none;
    color: #fff;
    font-size: 13px;
    margin-left: -30px;
    padding: 0 0 8px;
}

@media (max-width:900px) {
    .footer .kit-font img {
        width: 40%;
        display: block;
        margin: auto;
    }

    .paff li {
        text-align: center;
    }

    .footer .kit-font p {
        text-align: center;
    }

    .digital {
        padding: 55px 0px 55px 0px;
    }

    .footer .quick {
        padding: 20px 0 0 0;
    }

    .footer .quick h1 {
        text-align: center;
    }

    .footer .quick ul li {
        text-align: center;
    }

    .footer .search-bar {
        width: 60%;
        display: block !important;
        margin: auto;
    }

    .footer .last-fot {
        padding: 50px 0 0 0;
    }

    .footer .logo-details {
        display: block !important;
        margin: auto !important;
        width: 40%;
        padding: 40px 0 0 0 !important;
    }
}

@media (max-width:768px) {
    .footer .logo-details {
        display: block !important;
        margin: auto !important;
        width: 50%;
        padding: 40px 0 0 0 !important;
    }

    .footer {
        padding: 50px 0px 0px 0px;
    }

    .footer .quick h1 {
        padding: 0 0 15px 0;
    }
}

@media (max-width:500px) {
    .footer .logo-details {
        display: block !important;
        margin: auto !important;
        width: 60% !important;
        padding: 40px 0 0 0 !important;
    }

    .footer .search-bar {
        width: 80%;
        display: block !important;
        margin: auto;
    }
}

@media (max-width:400px) {
    .footer .logo-details {
        display: block !important;
        margin: auto !important;
        width: 70% !important;
        padding: 40px 0 0 0 !important;
    }
}

.footer .last-fot {
    padding: 80px 0 0 0;
}

.footer .last-fot h1 {
    text-align: center;
    font-size: 18px;
    color: #fff;
    font-style: normal;
    font-weight: 500;
}

.footer .last-fott {
    padding: 20px 0 20px 0;
}

.footer .last-fott a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    margin-bottom: 10px;
    padding: 0 0 10px 0px;
}

.footer .last-fott h1 {
    padding: 5px 0 0 0;
    text-align: center;
    font-size: 13px;
    color: #fff;
    font-style: normal;
    font-weight: 400;
}

.footer .last-fot a {
    text-decoration: none;
    color: #fff;
}

.footer .top .media-icons {
    display: flex;
}

.footer .logo-details {
    padding: 50px 0px 0px 65px;
}

.footer .top .media-icons {
    padding: 0px 0px 30px 0;
}

.footer .top .media-icons a {
    height: 40px;
    width: 40px;
    margin: 0 25px;
    border-radius: 8%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
}

/* @media (max-width:1300px) {
    .footer .top .media-icons a {
        margin: 0 8px;
    }
} */
@media (max-width:992px) {
    .footer .top .media-icons a {
        margin: 0 8px;
        display: block;
        margin: auto;
    }
}

.footer li {
    list-style-type: none;
    padding-left: -10px;
    font-size: 13px;
}

.footer li a {
    text-decoration: none;
    color: #fff;
}

.footer .copy {
    text-align: center;
    padding: 30px 0 0 0;
    font-size: 12px;
}

/**Footer Ends**/

.Beadcrum {
    padding: 250px 0px 120px 0px;
    background-image: url(https://res.cloudinary.com/ddj0k8gdw/image/upload/v1737355408/Energy/Group_48097580_r4eaky.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Montserrat", serif;
}

.Beadcrum .text h1 {
    text-align: left;
    font-size: 35px;
    font-weight: 600;
    color: #fff;
}

.Beadcrum .text p {
    text-align: center;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
}

/*  */
.Pushing {
    margin-top: -150px;
}

.Pushing .card:hover {
    background: linear-gradient(to top, #F8861A 0%, #FEC31C 100%);
    color: #fff;
    cursor: pointer;
}

/* Justing */
.Just {
    padding: 30px 0 50px 0;
}

.Just .Txt {
    background-image: url('https://res.cloudinary.com/ddj0k8gdw/image/upload/v1737372105/Energy/Group_48097670_ugau4c.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.Just .Justing {
    font-size: 30px;
    font-weight: 600 !important;
    line-height: 1.5;
}

.Just p {
    font-size: 1rem;
    line-height: 2;
}

.Just .Txt .highlight {
    font-size: 20px;
    color: #F8861A;
    font-weight: 500;
}

.Story {
    padding: 100px 0 100px 0px;
    background-image: url('https://res.cloudinary.com/ddj0k8gdw/image/upload/v1737355394/Energy/Group_33_pvot15.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -50px;
}

.Story .Emmet h5 {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}

.Story .Emmet p {
    font-size: 1rem;
    line-height: 2;
    color: #fff;
}

.Emmeting {
    position: relative;
    left: 230px;
}

.Story .Emmeting h5 {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}

.Story .Emmeting p {
    font-size: 1rem;
    line-height: 2;
    color: #fff;
}

.Story .Emmeting img {
    width: 70%;
}

/* vISION */

.hero-section {
    background-image: url('https://res.cloudinary.com/ddj0k8gdw/image/upload/v1737355398/Energy/Group_48097667_qwh4zm.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    text-align: left;
    padding: 80px 0px 0px 0px;
    width: 100%;
}

.quote-card {
    background-image: url(https://res.cloudinary.com/ddj0k8gdw/image/upload/v1737620532/Energy/Group_48097674_mydhkx.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: -200px;
    color: #000;
    width: 100%;
    border-radius: 1px;
    height: 400px;
    padding: 100px 80px;
}

.quote-card p {
    font-size: 1rem;
    line-height: 2;
}

.quote-card h5 {
    font-size: 20px;
    font-weight: 600;
    color: #000;
    line-height: 2;
}

.testimonial-card {
    background: white;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.testimonial-card p {
    font-size: 1rem;
    line-height: 2;
}

.trustpilot {
    padding: 50px 0 0 0;
    color: #000;
    font-weight: bold;
}

.trustpilot p {
    padding: 20px 0 0 0;
    font-size: 1rem;
    line-height: 2;
}

.Testimonials {
    background-color: #F9F9F9;
    padding: 200px 0 50px 0;
}

.join-us-section {
    background-color: #FFF8F1;
    text-align: center;
    padding: 80px 0px;
}

.join-us-title {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}
.join-us-section .text {
    background-color: #F8861A;
    padding: 30px 0;
    text-align: center;
    border-radius: 5px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}
.join-us-section .text:hover {
    background-color: #fff;
    padding: 30px 0;
    text-align: center;
    border-radius: 5px;
    color: black;
}

.join-button {
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.3s ease;
}

.btn-investor,
.btn-solar {
    background-color: #c87d31;
    color: white;
}

.btn-investor:hover,
.btn-solar:hover {
    background-color: #a86027;
    /* Darker gold for hover effect */
}

.btn-oem {
    background-color: white;
    border: 2px solid #d1d1d1;
    color: black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-oem:hover {
    background-color: #f5f5f5;
}

*/