* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "Sora", serif !important;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

button a {
    text-decoration: none;
    color: #fff;
}

button a:hover {
    text-decoration: underline;
    color: #fff;
}

/* ===== Scrollbar CSS ===== */
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: #F8861A;
    border-radius: 2px;
}

*::-moz-scrollbar-thumb {
    background-color: #F8861A;
    border-radius: 2px;
}

/* Highlight Text */
::-moz-selection {
    /* Code for Firefox */
    color: #fff;
    background: #000;
}


::selection {
    color: #fff;
    background: #000;
}

/*********Header Nav*********/
header nav {
    background-color: #fff;
    margin-top: 50px;
    padding: 05px 10px 05px 10px !important;
}

.bg-dark p {
    font-size: 14px;
    font-weight: 400;
}

.All {
    padding: 0 250px;
}

.navbar-onscroll {
    transition: 0.8s;
    padding: 10px !important;
    box-shadow: 0px 5px 20px #a1a1a11c, 0px 0px 20px #00000015;
}

header nav .navbar-brand img {
    width: 200px;
}

header nav .navbar-nav {
    margin-top: 10px;
}

header nav .navbar-nav .nav-item {
    font-size: 14px;
    letter-spacing: 0.5px;
}

header nav .navbar-nav .nav-item .active {
    color: #F8861A !important;
    border-top: 1px solid #F8861A;
}

header nav .navbar-nav .nav-item .nav-link {
    color: #000;
    font-weight: 400;
    padding: 15px 25px;
}

header nav .navbar-nav .nav-item .nav-link:hover {
    color: #F8861A;
    border-bottom: 1px solid #F8861A;
}

.btn-area .bi:hover {
    color: #714091;
}

.btn-area .bi {
    color: #fff;
}

@media (max-width: 1400px) {
    header nav .navbar-brand img {
        width: 150px;
    }

    header nav .navbar-nav .nav-item .nav-link {
        color: #000;
        font-weight: 400;
        padding: 15px 15px !important;
    }


}

@media (max-width: 1199px) {

    .bg-dark {
        display: none;
    }

    header nav {
        background-color: #fff;
        margin-top: 1px !important;
        padding: 5px 10px 0px 10px !important;
    }
}

/********Nav Login Auth********/
header nav .login-div {
    margin-top: 18px;
    margin-right: 30px;
}

header nav .login-div i {
    padding: 10px 40px;
    border-left: 1px solid #C9C9C9;
    font-size: 14px;
}

header nav .login-div .btn-signup {
    font-size: 13px;
    background: linear-gradient(to top, #F8861A 0%, #FEC31C 100%);
    ;
    letter-spacing: 0.3px;
    padding: 10px 25px;
    font-weight: 400;
    text-decoration: none;
    margin-right: 5px;
    border-radius: 5px;
    transition: 0.5s;
    color: #fff;
}

header nav .login-div .btn-login {
    color: #ffffff;
}

header nav .login-div .btn-signup i {
    padding-left: 5px;
}

/********Nav Toggler********/
header nav .navbar-toggler {
    border: 1px solid #FEC31C !important;
}

header nav .navbar-toggler i {
    color: #FEC31C;
}

header nav .navbar-toggler:focus,
header nav .navbar-toggler:active {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

/********Nav Mobile Offcanvas********/
header nav .offcanvas {
    width: 340px;
}

header nav .offcanvas-header {
    text-align: right;
    padding: 10px 1px 1px 1px !important;
    margin-bottom: -20px;
}

header nav .offcanvas-header button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    margin-left: 20px;
    margin-bottom: 20px;
}

header nav .offcanvas-header button i {
    font-size: 25px;
    color: #000
}

@media(max-width: 1199px) {
    header nav .login-div {
        margin-right: 0px;
        margin-top: 0px;
    }

    header nav .navbar-nav .nav-item .nav-link {
        font-size: 16px;
        padding: 10px 15px;
    }

    header nav .login-div .btn-login,
    nav .login-div .btn-signup {
        font-size: 16px;
        padding: 10px 10px;
    }

    header nav .icon-hambuger {
        margin-top: 15px;
    }

    header nav .icon-hambuger a {
        font-size: 22px;
    }

    header nav .dropdown-footer {
        top: 50px;
    }

    header nav .navbar-nav .nav-item .nav-link {
        color: #fff;
        font-weight: 600;
        padding: px;
    }

    header nav .login-div .btn-login {
        color: #fff;
    }
}

@media(max-width: 991px) {
    header nav .icon-hambuger {
        display: none;
    }

    .login-div i {
        display: none;
    }

    header nav .login-div {
        margin-left: 5px;
        margin-top: 20px;
    }

    header nav .login-div a {
        display: block;
        margin-top: 5px;
    }

    header nav .navbar-nav {
        margin-top: -5px;
    }

    header nav .desktop-dropdown {
        display: none !important;
        visibility: hidden !important;
    }

    header nav .dropdown:hover .dropdown-menu {
        display: block !important;
        visibility: visible !important;
    }

    header nav .navbar-toggler {
        margin-top: 10px;
    }

    header nav .navbar-nav .nav-item .nav-link {
        color: #000 !important;
        font-weight: 400;
    }

    header nav .navbar-nav .nav-item .nav-link:hover {
        color: #000;
        font-weight: 500;
        padding: px;
    }

    header nav .login-div .btn-login {
        color: #000;
        font-weight: 400;
    }

    header nav {
        background-color: #fff;
        margin-bottom: -101px !important;
        padding: 5px 10px 05px 10px !important;
    }


}

/* Welcome Banner */


/* Welcome Screen */
.welcome-screen {
    margin-top: 100px;
}

.welcome-screen .banner-one {
    background-image: url('https://res.cloudinary.com/ddj0k8gdw/image/upload/v1736873828/Energy/p_1_fch0xz.jpg');

}

.welcome-screen .banner-two {
    background-image: url('https://res.cloudinary.com/ddj0k8gdw/image/upload/v1736873832/Energy/o_1_vllvrl.jpg');
}

.welcome-screen .banner-three {
    background-image: url('https://res.cloudinary.com/ddj0k8gdw/image/upload/v1736874129/Energy/i_smqbvk.jpg');

}

.welcome-screen .carousel-item {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding: 150px 10px 200px 10px;
    color: #fff;

}

.welcome-screen .carousel-item .banner-note {
    width: 53%;
    padding: 0 0 0 180px;

}

.welcome-screen .carousel-item .banner-note h1 {
    font-size: 3.5rem;
    font-weight: 100;
    padding-top: 10px;
    line-height: 1.5;
    padding-bottom: 10px;
}

.welcome-screen .carousel-item .banner-note h1 span {

    font-weight: 500;
    color: #FEC31C;
}

.welcome-screen .carousel-item .banner-note h5 {
    font-weight: 300;
    font-size: 22px;
}

.welcome-screen .carousel-item .banner-note p {
    font-size: 17px;
    line-height: 2;
    font-weight: 400;
}

.welcome-screen .banner-note .btn-div {
    margin-top: 45px;
}

.welcome-screen .banner-note .btn-div .btn-contact,
.welcome-screen .banner-note .btn-div .btn-read {
    padding: 15px 35px;
    border-radius: 50px;
    margin: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
}

.welcome-screen .banner-note .btn-div .btn-contact {
    border: 1px solid #fff;
}

.welcome-screen .banner-note .btn-div .btn-read {
    background-color: #F8861A;

}

.welcome-screen .banner-note .btn-div .btn-contact:hover,
.welcome-screen .banner-note .btn-div .btn-read:hover {
    background-color: #fff;
    color: #000;
    font-size: 14px;
    font-weight: 300;
    border: 1px solid #fff;
}

.icon-group {
    position: absolute;
    bottom: 90px;
    left: 15%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    font-size: 1.5rem;
}

.icon-group span {
    cursor: pointer;
    opacity: 0.5;
}

.icon-group .active {
    opacity: 1;
    color: #f39c12;
    /* Highlight color for active */
}

@media (max-width: 991px) {
    .welcome-screen .carousel-item .banner-note {
        width: 100% !important;
        padding: 0 10px 0 50px !important;
    }

    .welcome-screen {
        margin-top: 01px !important;
    }

    .welcome-screen .carousel-item {
        padding: 150px 0px 100px 0px !important;
        color: #fff;
    }
}

@media (max-width: 1400px) {
    .welcome-screen .carousel-item .banner-note {
        width: 65%;
        padding: 0 0 0 130px;
    }

    .welcome-screen .carousel-item {
        padding: 100px 0px 130px 0px;
        color: #fff;
    }

    .icon-group {
        position: absolute;
        bottom: 30px;
        left: 15%;
        transform: translateX(-50%);
        display: flex;
        gap: 10px;
        font-size: 1.5rem;
    }
}

@media (max-width: 540px) {
    .welcome-screen .carousel-item .banner-note {
        width: 80%;
    }

    .welcome-screen .carousel-item {
        padding: 100px 10px 100px 10px;
    }

    .welcome-screen .carousel-item .banner-note h1 {
        font-size: 2.5rem;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .welcome-screen .carousel-item .banner-note h5 {
        font-size: 18px;
    }

    .welcome-screen .carousel-item .banner-note p {
        font-size: 16px;
    }

    .welcome-screen .banner-note .btn-div .btn-contact,
    .welcome-screen .banner-note .btn-div .btn-read {
        padding: 10px 15px;
        font-size: 14px;
    }

    .icon-group {
        display: none;
    }

    .btn-contact {
        display: none;
    }
}

/* Benefit */
.Benefit {
    padding: 80px 0px;
}

.Benefit .Txt {
    background-image: url('https://res.cloudinary.com/ddj0k8gdw/image/upload/v1736881066/Energy/l_skskly.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.Benefit .Txt .Just {
    font-size: 25px;
    font-weight: 400 !important;
    line-height: 1.5;
}

.Benefit .Txt .highlight {
    font-size: 20px;
    color: #F8861A;
    font-weight: 500;
    padding: 0 0 0px 100px;
}

.Benefit .E {
    font-size: 15px;
    line-height: 2;

}

.Benefit button {
    background: linear-gradient(to top, #F8861A 0%, #FEC31C 100%);
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.Benefit .card{
    border: none;
}

.Benefit .fw-bold  {
    font-weight: 600 !important;
    font-size: 18px;
    line-height: 2;
}

.icon {
    margin-top: -50px;
    display: inline-block;
}

.icon img {
    width: 100px;
    height: auto;
}

.Benefit ul li {
   font-size: 14px;
   line-height: 35px;
}
.Benefit ul{
    height: 140px;
}

.card {
    border: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width:1400px) {
    .Benefit .Txt .highlight {
        font-size: 20px;
        color: #F8861A;
        font-weight: 500;
        padding: 0 0 0px 50px;
    }
    .Benefit ul{
        height: 170px;
    }
}
@media (max-width:770px) {
    .Benefit ul{
        height: auto;
    }
    .Benefit .card{
       margin-bottom: 80px;
    }
    .Benefit {
        padding: 80px 0px 30px 0;
    }
}

